
@{
    ViewData["Title"] = "PLSanPham";
    Layout = "~/Views/Shared/_LayoutOgani.cshtml";
}

@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<TDanhMucSp>
@* @model List<TDanhMucSp> *@
@foreach (var item in Model)
{
    @await Html.PartialAsync("PartialSanPham",item);
}


<div class="product__pagination">
    @Html.PagedListPager(Model, page => Url.Action("PLSanPham", new{MaLoai = ViewBag.maloai, page = page}))
</div>


